@{
    ViewBag.Title = "Home Page";
}
    <picture>
        <source media="(min-width: 1300px)" srcset="/images/patrol-station-1280.jpg">
        <source media="(min-width: 660px)" srcset="/images/patrol-station-640.jpg">
        <source media="(min-width: 340px)" srcset="/images/patrol-station-320.jpg">
        <img src="/images/patrol-station-320.jpg" alt="a patrol station at night" style="width:auto;">
    </picture>

<div class="jumbotron">
    <h1>Gas Go!</h1>
    <p class="lead">Find the nearest and cheapest gas station!~</p>
    <p class="lead">Saving money by always knowing what station has the cheapest price!</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Search cheap gas by suburb.</h1>
        <h1>
            Find the best gas prices in your state to maximize savings at the pump.<br />
            @Html.ActionLink("Find Gas!", "Create", "UserSearchRequests")
        </h1>

    </div>
    <div class="col-md-6">
        <h2>View gas price map</h2>
        <p>Wanna a more straightforward way to find the cheapest gas near you? Then, view the gas price map!</p>
        <p><a class="btn btn-default" href="">View Map &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Visit Gas Go community</h2>
        <p>You can share your fill-up experience or read thousands of reviews written by others in the Gas Go Community..</p>
        <p><a class="btn btn-default" href="">Visit now &raquo;</a></p>
    </div>
</div>

